%transition-2 {
  transition: all 0.2s ease-in-out;
}

%transition-3 {
  transition: all 0.3s ease-in-out;
}

%transition-4 {
  transition: all 0.4s ease-in-out;
}

%transition-5 {
  transition: all 0.5s ease-in-out;
}
